body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --rock-image: url(rocks.svg);
    --paper-image: url(paper.svg);
    --scissors-image: url(scissors.svg);
}

body{
    color:white;
    background:rgb(2, 55, 214);
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.title {
    color: white;
    font-family: 'Bona Nova', serif;
    font-size: 36px;
}

#scores {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    text-align: center;
}

#items {
    margin-top: 10px;
    /*background:red;*/
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 100px;
}

#rock {
    background:rgb(37, 96, 234);
    text-align: center;
    text-indent: -9999999px;
    border-radius: 20px;
    background-position: center;
    background-image: url(rocks.svg);
    background-repeat: no-repeat;
    background-size: 80px;
    
}

#items div:hover {
    opacity: 0.8;
    cursor:pointer;
}

#paper {
    background:rgb(37, 96, 234);
    text-align: center;
    text-indent: -9999999px;
    border-radius: 20px;
    background-position: center;
    background-image: url(paper.svg);
    background-repeat: no-repeat;
    background-size: 80px;
}

#scissors {
    background:rgb(37, 96, 234);
    text-align: center;
    text-indent: -9999999px;
    border-radius: 20px;
    background-position: center;
    background-image: url(scissors.svg);
    fill: red;
    background-repeat: no-repeat;
    background-size: 80px;
}

#items div {
    margin-right:10px;
    width:25%;
    text-align: -9999px;
    height: 120%;
    display: flex;
    flex-flow: column;
    margin-top: -10px;
    justify-content: center;
  
}

#computer-results-img {
    background:purple;
    width:25%;
    height: 30%;
}

#user-results-img {
    background:purple;
}

#result-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#result-images {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    height:130px;
}

#result-images div {
    border-radius: 20px;
    width: 44%;
    height:90%; 
    text-indent: -99999px;
}

#user-results-img {
    background:rgb(37, 96, 234);
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: center;
}
#computer-results-img {
    background:rgb(37, 96, 234);
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: center;
   
}

#results{
    display: flex;
    justify-content: center;
    flex-flow: column;
    
}

#result-text {

    display: flex;
    justify-content: space-around;
    flex-wrap:wrap
}

main {
    display: block;
}

#win{
    font-size: larger;
    display: none;
}

.win-button {
    border: none;
    width: 100px;
    height:50px;
    border-radius: 10px;
    background: rgb(0, 132, 73);
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: large;
    cursor: pointer;
}
.win-button:hover {
    background: rgb(2, 112, 62);
}

#lost {
    display: none;
    font-size: larger;
}

.lost-button {
    border:none;
    width: 100px;
    height:50px;
    border-radius:10px;
    color:white;
    font-family: 'Open Sans', sans-serif;
    font-size: large;
    background: rgb(212, 44, 44);
    cursor: pointer;
}

.lost-button:hover {
    background: rgb(189, 38, 38);
}

@media screen and (max-width: 339px ) {
    #items {
        justify-content: center;
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    #items div {
        width:80px;
        height:80px;
        margin-top: -8px;
    }
    #result-images div {
        margin-top: 10px;
    }
}
@media screen and (max-width: 550px) {
    #result-text {
        font-size: smaller;
    }
}

@media screen and (max-width: 480px) {
    #result-text {
        font-size: 11px;
    }
    #scores {
        font-size: 11px;
    }
}

@media screen and (max-width: 330px) {
    #result-text {
        font-size: 10px;
    }
    #scores {
        font-size: 10px;
    }
}

@media screen and (max-width: 300px) {
    #result-text {
        font-size: 8px;
    }
    #scores {
        font-size: 8px;
    }
}

@media screen and (max-width: 270px) {
    #items div {
        width:60px;
        height:60px;
        border-radius: 10px;
        background-size: 40px;
        margin-top: 10px;
    }
}

@media screen and (min-width: 830px) {
    #items div{
        width:200px;
        height:150px;
        margin-top:20px;
    }
    #result-images div {
        width:400px;
        height:150px;
        margin-right: 10px;
    }
    #result-images {
        justify-content: center;
    }
    #result-text {
        justify-content: center;
    }

    #user-results {
       margin-right: 20px;
    }
    #computer-results {
        margin-right: 200px;
    }
}